.speech {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: medium;
    text-indent: 100px;
}

.song {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    text-indent: 100px;
}

.direction {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    background-color: aliceblue;
}

.direction:hover {
    color: brown;
    background-color: bisque;

}

.name {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    display: inline;
    
}
h6:hover {
    text-shadow: 2px 2px 2px black;
    border-color: chartreuse;
    background-color:azure;
    border:2px;
    border-style: solid;
}

.ALL {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.SAMUEL {
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.KING {
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 10px azure;
}

.chorus {
    color: chartreuse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ACT {
    color: darkorange;
}
.FREDERIC{
    color: cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table th,
td {
    border: 2px solid;

}

tr:nth-child(odd) {
    background-color: beige;
}

td {
    text-align: center;
}

th,
td {
    padding: 15px;
    text-align: center;

}

th {
    background-color: aquamarine;
    color: black;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }